<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dash.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    .w3-btn {width:150px;}

  </style>
  </head>
  <body>
    <aside class="side-nav " id="show-side-navigation1">
      <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
      <div class="heading">
        <div class="info">
          <h3><a href="#"> MQTT </a></h3>
          <p>Server</p>
        </div>
      </div>
      
      <ul class="categories">
        <li><i class="fa fa-home fa-fw" ></i><a href="/">Home</a></li>
        <li><i class="fa fa-support fa-fw"></i><a href="/report"> Reports</a></li> 
      </ul>
    </aside>
    <section id="contents">

    <section class="left" style="margin-top: 5%;">
      <form  id="formid" method="POST" action="/report">
        <p class="lead" style="color:white;">Enter the date for analysis</p><br><br>
        <p class="lead" style="color:white;">Start</p>
        <input class="lead" type="datetime-local" step="1"  name="start" style ="border-radius: 2px;padding: 10px;"><br><br>
        <p class="lead" style="color:white;">End</p>
        <input class="lead" type="datetime-local" step="1"  name="end" style ="border-radius: 2px;padding: 10px;"><br><br>
        <input  class="w3-button w3-yellow w3-round-xxlarge " type="submit" title="Analyze" style ="font-size: 20px;"><br>
      </form>
    </section>
    <section class="charts">
      <div class="container-fluid" id="hidden_div" style="display: none;">
        <div class="row">
          <div class="col-md-5" >
            <div class="chart-container">
              <h3> Line Chart </h3>
              <canvas width="400" height="225" id="line"></canvas>
            </div>
          </div>  
        </div>  
        <div class="row">

          <div class="col-md-5" style="margin-top: 20px;;">
            <div class="chart-container">
              <h3> Bar Chart</h3>
              <canvas width="400" height="225" id="bar-chart"></canvas>
            </div>
            </div>
          </div>
        </div>
      
      </div>
    </section>
  
    
  
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  <script src="/static/js/dash.js"></script>
  </body>
</html>

